
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Tahoma, sans-serif;
  display: grid;
  background: #2117ad;
}

main .auth {
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
  text-align: center;
  background-color: #afc6ff;
}

.auth-button {
  background-color: white;
  font-size: 15px;
  border-radius: 12px;
}

a {
  color: #fff;
}

header {
  background: #729aff;
  color: #fff;
  text-align: center;
  min-height: 10vh,
}

main {
  min-height: 80vh;
  background: #fff;
}
main .controls {
  text-align: center;
  padding: 0.5em 0;
  background: #729aff;
  color: #fff;
}
main canvas {
  padding: 20px;
  margin: 0 auto;
  display: block;
}
footer {
  background: #471069;
  color: #729aff;
  text-align: center;
}
